<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "device-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :secret %>
  <%= text_input f, :secret %>
  <%= error_tag f, :secret %>

  <%= label f, :client_id %>
  <%= text_input f, :client_id %>
  <%= error_tag f, :client_id %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
