//----------------------------------*\
// COLORS
//----------------------------------*/

$color-black: #000 !default;

$color-gray: #f1f2f5 !default;
$color-gray-2: #9FA2B4 !default;

//----------------------------------*\
// FONTS
//----------------------------------*/

$main-font-family: muli, arial, sans-serif !default;

$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
