.header-container {
  background-color: $color-black;
  height: 10rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem;

  &__link {
      color: $color-gray;
      display: block;
      padding: 0 1rem 1rem 3.2rem;
      font-weight: $font-weight-bold;
  }
}
