.nav {
  align-items: center;
  display: flex;

  &__link {
      color: $color-gray;
      display: block;
      padding: 0 1rem 0 1rem;
  }

  li.username{
    color: $color-gray;
    font-weight: $font-weight-semi-bold;
  }
}

.user-menu {
  display: flex;
}
