.nav {
  display: flex;
  align-items: center;

  &__link {
      color: $color-gray;
      display: block;
      padding: 0 1rem 1rem 3.2rem;
  }

  li.username{
    color: $color-gray;
    font-weight: $font-weight-semi-bold;
  }
}
